.custom-card-design{
    transition: all  0.2s ease-in-out;
    padding: 8px;
    position: relative;
    border-radius: 8px;
    overflow: hidden!important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.548);
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.card-image {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 4px 4px 4px 4px;
    overflow: hidden;
    
    clip-path: polygon(14% 0, 100% 0, 100% 100%, 0 100%, 0 15%);
}
.card-image img{
    transition: scale  0.2s ease-in-out;
    width: 100%;
    scale: 100%;
}
.card-details{
    position: absolute;
    text-align: center;
    padding: 10px 15px;
    transition: height 0.2s ease-in-out;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    padding-bottom: 0px;
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.425),rgba(0, 0, 0, 0));
    bottom: 0px;
    left: 0;
}
.card-details div{
    overflow: hidden;
}
.card-details p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.actions-button{
    position: absolute!important;
    transition: all 0.2s ease-in-out!important;
    top: 25px;
    right: 25px;
    z-index: 100;
}



.hovering-card:hover .card-image img{
    scale:110%;
}
.hovering-card:hover .card-details{
    height:100%
}
.hovering-card:hover .card-details div{
    overflow: visible;
}
.hovering-card:hover .edit-button{
    /* top: 0px; */
}
.hovering-card:hover .card-details p{
    text-overflow:unset;
    overflow: visible;
    white-space: wrap;
}
.custom-card-design:hover{
    margin-top: -10px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.699);
}

.custom-card-design:active{
    /* box-shadow: 0 0px 5px rgba(0, 0, 0, 0.699); */
}
.hovering-card:hover .actions-button{
    margin-top: -10px;
}


.image-button-delete{
    position: absolute!important;
    top: 15px;
    right: 15px;
}